<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1053572305135-lfkv479ugrlcf1rp64p456hrj0fqcg08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053572305135-lfkv479ugrlcf1rp64p456hrj0fqcg08</string>
	<key>API_KEY</key>
	<string>AIzaSyDBb5Wdqm0K_h4BgCx558yWfe2fVxgD2O4</string>
	<key>GCM_SENDER_ID</key>
	<string>1053572305135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crossplatform.push</string>
	<key>PROJECT_ID</key>
	<string>crossplattform-push-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>crossplattform-push-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053572305135:ios:2598b1eae54e1766</string>
	<key>DATABASE_URL</key>
	<string>https://crossplattform-push-demo.firebaseio.com</string>
</dict>
</plist>